@model WPFSample_Ent.clsPersona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>clsPersona</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Apellidos)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Apellidos)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaNac)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaNac)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
